$backgroundColor: #f8f9fa;
$cardColor: #fff;
$textColor: #343a40;
$boxShadowColor: #76117a;

.nav-bar {
    border-bottom: $boxShadowColor;
    background-color: $cardColor;
}

.logout-button {
    float: right;
}